@model ResultDataModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <canvas id="myChart"></canvas>
    @foreach (var item in Model.Results)
    {
      <p class="mb-0">@Html.Raw(@item.Code)</p>
    }
</div>
<script>
    const data = {
      labels: @Html.Raw(Json.Serialize(@Model.Points)),
      datasets: []
    };
</script>
@foreach (var item in Model.Results)
{
  <script>
    data.datasets.push(
      {label: '@item.Name',data : @Html.Raw(Json.Serialize(@item.Points)),borderColor: '@item.Color',backgroundColor: '@item.Color', hidden:true, stepped: true}
    )
  </script>
}
<script>
const config = {
  type: 'line',
  data: data,
  scales: {
      y: {
        min: 10,
        max: 50,
      }
  }
};

const myChart = new Chart(
    document.getElementById('myChart'),
    config
);
</script>
